.container {
    background-color: #fff;
    width: 100%;
    min-height: 700px;   /* 일단 700px로 잡았음 */
    max-width: 480px;
    margin: 0 auto;
    padding: 72px 22px;
    font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  }
  .header {
    align-items: center;
    gap: 10px;
    padding: 24px;
    display: flex;
  }
  .headerTitle {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  .paymentCard {
    background-color: #fff;
    min-height: 600px;   /* 일단 700px로 잡았음 */
    border-radius: 8px;
    margin: 0 24px;
    padding: 36px 16px;
    box-shadow:
      0 -1px 30px #3629b712,
      0 4px 4px #00000040;
  }
  .paymentTitle {
    color: #343434;
    margin-bottom: 70px;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
  }
  .paymentRow {
    justify-content: space-between;
    margin-bottom: 12px;
    display: flex;
  }
  .rowLabel {
    color: #979797;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin: 0;
  }
  .rowValue {
    color: #343434;
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin: 0;
  }
  .divider {
    background-color: #cbcbcb;
    height: 1px;
    margin: 24px 0;
  }
  .totalSection {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .totalLabel {
    color: #343434;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }
  .totalAmount {
    color: #ff4267;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }
    
  .buttonContainer {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-top: 60px;
  }

  .actionButton {
    background-color: #fcbe32;
    border-radius: 16px;
    width: 100%;
    height: 38px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 0 10px #008dfd26;
    cursor: pointer;
    border: none;
  }
