.container {
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    overflow: hidden;
    min-height: 100vh;
    margin-bottom: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0 20px;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  
  .header {
    display: flex;
    align-items: stretch;
    gap: 10px;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  
  .headerIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 28px;
    margin: auto 0;
  }
  
  .headerTitle {
    flex-basis: auto;
    font-size: 28px;
    margin: 0;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-weight: 700;
  }
  
  .formSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .formTitle {
    color: #343434;
    margin-top: 50px;
    line-height: 0.8;
    font-size: 20px;
    font-weight: 600;
  }
  
  .formTitle:nth-of-type(2) {
    margin-top: 35px;
  }
  
  .formIntro {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .termsContainer {
    margin-top: 20px;
  }
  
  .termsParagraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
  }
  
  .instructionText {
    color: #343434;
    align-self: stretch;
    margin-top: 34px;
    font-size: 18px;
  }
  
  .confirmButton {
    color: black;
    white-space: nowrap;
    text-align: center;
    background-color: #fcbe32;
    width: 100%;
    margin-top: 95px;
    padding: 23px 70px;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 28px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  
  .inactiveConfirmButton {
    white-space: nowrap;
    text-align: center;
    background-color: #d8d8d8;
    width: 100%;
    margin-top: 95px;
    padding: 23px 70px;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 28px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
  }
  