.container {
    width: 100vw;
    min-height: screen;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, sans-serif;
    display: flex;
  }
  
  .title {
    color: #343434;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 28px;
    font-weight: 700;
  }
  
  .passwordDotsContainer {
    justify-content: center;
    gap: 25px;
    margin-bottom: 100px;
    display: flex;
    font-size: 20px;
  }
  .passwordDisplay {
    gap: 50px;
    margin-bottom: 204px;
  }
  .passwordDot {
    background-color: gray;
    border-radius: 9999px;
    width: 18px;
    height: 18px;
  }
  .passwordDot.filled {
    background-color: #fcbe32;
    border-radius: 9999px;
    width: 18px;
    height: 18px;
  }

  .keypadGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-left: 45px;
    padding-right: 45px;
    display: grid;
  }
  
  .keypadNumber {
    color: #404046;
    text-align: center;
    font-size: 36px;
  }
  
  .keypadButtonContainer {
    justify-content: center;
    align-items: center;
    width: 100%; /* grid 셀 전체 사용 */
    display: flex;
    border: none;
    background-color: #ffffff; /* 버튼 배경색을 흰색으로 */
  }
  